html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    font-size: 1.4rem;
    line-height: 1.4;
}

.container {
    width: 1320px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 10rem 0;
}

.section-title {
    margin-top: 0;
    font-size: 3.4rem;
}

.btn {
    display: flex;
    max-width: 100%;
    min-width: 20rem;
    justify-content: center;
    white-space: nowrap;
    height: 7rem;
    line-height: 7rem;
    background-color: var(--color-accent);
    color: var(--color-text-invert);
    padding-right: 3rem;
    padding-left: 3rem;
    border: 1px solid var(--color-accent);
    transition: var(--transition);
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--color-text-invert);
    color: var(--color-accent);
}

.btn_darken,
.btn_submit {
    height: 5rem;
    line-height: 5rem;
    color: var(--color-bg-header);
    font-weight: 700;
}

.btn_darken:hover,
.btn_submit:hover {
    border-color: var(--color-text-invert);
    color: var(--color-bg-header);
}

.slick-arrow {
    position: absolute;
    text-indent: -9999px;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    background-color: #f2f2f2;
    transition: var(--transition);
    top: calc(100% + 3.5rem);
}

.slick-arrow.slick-next {
    left: calc(50% + 1rem);
}

.slick-arrow.slick-prev {
    right: calc(50% + 1rem);
}

.slick-arrow::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background: url('../img/arrow.png') no-repeat center / contain;
}

.slick-arrow.slick-prev::before {
    transform: translate(-50%, -50%) scaleX(-1);
}

.slick-arrow:hover {
    background-color: var(--color-accent);
}

.slick-arrow:hover::before {
    filter: invert(1);
}

.slick-list {
    margin-bottom: calc(3.5rem + 5.5rem);
}

.section-header {
    padding-bottom: 5rem;
}

.section-header__screen-reader {
    display: none;
}

.section-header__title {
    font-size: 3.2rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

.section-header__title_invert {
    color: var(--color-text-invert);
}

.section-header__subtitle {
    margin-top: 0.5em;
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 45rem;
}

::-webkit-input-placeholder { /* Edge */
    color: #aaaaac;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaaaac;
}

::placeholder {
    color: #aaaaac;
}

input:focus {
    outline: none;
}

label:hover {
    cursor: pointer;
}

.slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    margin-top: 3.2rem;
}

.slick-dots button {
    overflow: hidden;
    text-indent: -999px;
    width: 1rem;
    height: 1rem;
    border-radius: 10rem;
    background-color: var(--color-accent);
    transition: width 200ms, background 200ms;
}

.slick-dots .slick-active button {
    width: 5.5rem;
    background-color: #1d1c2a;
}
