html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    font-size: 1.4rem;
    line-height: 1.4;
}

.container {
    width: 1320px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}
