.catalog {
    position: relative;
    background: url('../img/bg-escalator.jpg') no-repeat center bottom / 100% auto;
}

.catalog-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6rem;
}

.catalog-row .section-title {
    flex: 0 0 25%;
}

.catalog__desc {
    overflow: hidden;
    position: relative;
    border: 1px solid var(--color-accent);
    padding: 2.2rem 3.6rem;
    background: linear-gradient(-45deg, #f3eee2, #fbf9f5, #f3eee2);
}

.catalog__desc::after,
.catalog__desc::before {
    content: '';
    position: absolute;
    display: block;
    width: 50%;
    height: 5px;
    background-color: var(--color-accent);
}

.catalog__desc::before {
    right: 3.6rem;
    top: 0;
    max-width: 5.5rem;
}

.catalog__desc::after {
    left: 3.6rem;
    max-width: 13rem;
    bottom: 0;
}

.catalog__slider {
    margin: 0 -1.5rem;
    margin-top: 6rem;
}

.slider-item__inner {
    display: block;
    border: 2px solid var(--color-accent);
    padding: 3rem;
    background-color: #fff;
}

.catalog-slider__item {
    margin: 0 1.5rem;
    text-align: center;
    height: 100%;
}

.slider-item__inner .thumb {
    height: 0;
    padding-top: 80%;
    position: relative;
}

.slider-item__inner .thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-item__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    min-height: 4.6rem;
    margin-top: 0.5em;
}

.catalog-facts {
    display: flex;
    flex-flow: row nowrap;
    gap: 15rem;
    padding-top: 11rem;
}

.catalog-facts__title {
    flex-shrink: 0;
    position: relative;
    font-size: 12rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    mix-blend-mode: multiply;
    background-color: black;
    overflow: hidden;
    opacity: 0.55;
    border-radius: 2rem;
    line-height: 1.2;
    padding: 0 0.4ch;
}

.catalog-facts__title span {
    position: relative;
    z-index: 2;
}

.catalog-facts__header {
    text-align: right;
}

.catalog-facts__subtitle {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 0.4em;
}

.catalog-facts__stats {
    flex-grow: 1;
    align-self: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 4rem;
}

.stats-group__item {
    position: relative;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    width: 11rem;
    height: 11rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.catalog-facts__stats .counter {
    font-size: 6.5rem;
    font-weight: 700;
    color: var(--color-accent);
    position: absolute;
    top: -0.8ch;
    right: -0.5ch;
}

.catalog-facts__stats .label {
    margin-top: 2rem;
    line-height: 1.1;
    text-align: left;
    font-size: 1.5rem;
}

.stats-group__item::before {
    content: '';
    display: block;
    height: 3px;
    width: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
}

.stats-group__item::after {
    content: '';
    display: block;
    width: 3px;
    height: 50%;
    background-color: #333;
    position: absolute;
    right: 0;
    bottom: 0;
}
